.courses_container{
  margin: 0 2rem;
  max-width: 100vw;
}

.courses_container ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
}

.courses_container ul li{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 16rem;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 1.5rem 2rem;
  border-radius: 0.4rem;
  align-items: flex-start;
}


.courses_container ul li .schoolarshipLevel{
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  opacity: 60%;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  margin-top: 2rem;
  align-self: flex-end;
}