.search{
    height: auto;
    display: flex;
    justify-content: start;
    padding: 2rem 0;
    gap: 1rem;
    margin: 0 2rem;
  }

  .search .search-wrapper #search{
  box-shadow: 0 0 0 3px transparent;
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 0.4rem;
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  }

  .search .search-wrapper #search:hover{
    border-color: black;
  }

  .search .search-wrapper #search:active{
    box-shadow: 0 0 0 3px rgb(125, 213, 0);
    border-color: transparent;
  }